.actions-bar {
  width: 100%;
  background-color: #000;
  height: 10vh;
  display: flex;
  &.flex {
    justify-content: space-between;
  }

  .action {
    background-color: $clr6;
    font-size: 2em;
  }
}
