.upcoming-card {
  width: 42%;
  height: 63vh;
  .card-header {
    background-image: url('@/assets/images/bcg-upcoming.jpg');
    height: 33%;
    width: 100%;

    background-position: center;
    background-size: cover;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
  }
  border: 1px solid $clr7;
  border-radius: 0.8em;
}
