.upcoming-card {
  width: 50%;
  height: 500px;
  .card-header {
    background-image: url('@/assets/images/bcg-upcoming.jpg');
    height: 33%;
    width: 100%;
    background-position: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  border: 1px solid $clr7;
  border-radius: 1em;
}
