* {
  box-sizing: border-box;
}

html {
}

#app {
  height: 100%;
}
body {
  font-family: Lato-regular;
  color: $clr5;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

img {
  width: 100%;
}

p {
}

// links
a {
}
