@mixin navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  p {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  i {
    color: $clr6;
    font-size: 1.2rem;
  }
  &:hover {
    i {
      color: $clr5;
    }
  }
  &.active {
    i {
      color: $clr3;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    &.router-link-exact-active {
      i {
        color: $clr3;
      }
    }
  }
}

@mixin mute-opt-btns {
  border: none;
  padding: 0.5em 1.4em;
  border-radius: 0.2em;
  background: $clr3;
  color: #fff;
  margin-inline-end: 0.2rem;
}
